<?php

namespace ThemeWrapper;

class {{ class_name }} extends BaseThemeWrapper {

    {% for name,default in vars %}
    /** @var ${{ name }} **/
    protected ${{ name }} = {{ default|replace({"\n": "", "\r\n": "", "\t": "", "\n\r": ""})|raw }};
    {% endfor %}

     protected $theme_hook = '{{ theme_type }}';

     protected $var_names = {{ var_names|raw }};

     protected $render_element = '{{ render_element }}';

     public function __construct(
     {% for name,default in vars %}
     ${{ name }} = {{ default|replace({"\n": "", "\r\n": "", "\t": "", "\n\r": ""})|raw }}{% if not loop.last %},{% endif %}
    {% endfor %}
     ) {
     {% for name,default in vars %}
     $this->{{ name }} = ${{ name }};
    {% endfor %}
     }

    {% for name,default in vars %}
    public function set{{ name|capitalize }}(${{ name }}) {
        $this->{{ name }} = ${{ name }};
    }
    {% endfor %}

}
